<div class="uk-modal assetable-modal-edit-asset assetable-assets assetable-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h3 class="uk-modal-title">Asset TEST</h3>
    </div>
    <%= simple_form_for([:assetable, asset], url: assetable_asset_path(asset, asset_type: asset.type), remote: true, html: {class: "form-edit-asset"}) do |f| %>
      <div class="uk-modal-body">
        <%= f.input :name %>
        <%= f.input :filename unless f.object.filename.present? %>
        <%= f.input :body %>
        <%= f.input :width %>
        <%= f.input :height %>
      </div>
      <div class="uk-modal-footer">
        <%= f.submit "Save Asset", class: "uk-button uk-button-secondary" %>
        <%= button_tag('Cancel', class: "uk-button uk-button-primary uk-modal-close", type: "button") %>
      </div>
    <% end %>
  </div>
</div>
